*{
  margin: 0;
  padding: 0;
}

body{
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.wrapper{
  width: 100%;
  background: linear-gradient(180deg,rgba(2, 0, 36, 1) 7%, rgba(6, 5, 83, 1) 28%, rgba(9, 9, 121, 1) 73%, rgba(0, 212, 255, 1) 100%);
}

.conteiner{
  width: 1400px;
  margin: 0 auto;
}

.header{
  padding: 50px 0;
  font-weight: 800px;
  font-size: 29px;
}
header nav{
  float: right;
  width: 50%;
}

header nav ul{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 10px;
  list-style: none;
}

header .logo{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

header nav ul li{
  display: inline-block;
}

header nav ul li a{
  color: #fff;
}

header nav ul li:not(.btn) a:hover{
  border-bottom: 5px solid #fff;
}

.btn {
  border-color: #fff;
  border-radius: 15px;
  padding: 9px 17px;
  color: #fff;
  background-color: transparent;
  transition: all 500ms ease;
}

.btn:hover{
  background: rgb(10, 9, 59);
}

.logoimg{
  position: relative;
  top: 10px;
  left: 5px;
  width: 50px;
}

.hero{
  padding-bottom: 100px;
}

.hero--info{
  width: 530px;
  padding-top: 70px;
}

.hero--info h5{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
}

.hero--info h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
}

/*header nav ul li.btn a{
  background-color: transparent;
  padding: 9px 17px;
  border-radius: 5px;
  border-color: #fff;
  transition: all 500ms ease;
}
  */
  /*
.btnreg{
  border-color: #fff;
  border-radius: 5px;
  padding: 9px 17px;
  color: #fff;
  background-color: transparent;
  transition: all 500ms ease;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
*/
